.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .logohome {
    max-width: 200px;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  
  .welcome {
    font-size: 2rem; /* Blue color */
    color: #527785;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    animation: bounce 2s infinite;
    margin-bottom: 50px;
  }
  
  .centerhome {
    text-align: center;
    border: 2px solid white; /* Add a border with the blue color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
    padding: 30px; /* Add some padding inside the border */
    border-radius: 20px; /* Add rounded corners */
    width: 80%; /* Set the desired width, e.g., 80% of the parent container */
    max-width: 500px;
    margin: 25px;
    height: 400px; /* Adjust the height to your desired value */
  }
  
  .centerhome button {
    width: 70%; /* Set the width to 100% to match Create Room button */
    margin: 10px 0;
  }
  
  button.button {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 15px;
    margin: 15px;
    color: #527785;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #527785; /* Add a border with the blue color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
  }
  
  button.button:hover {
    background-color: #ededed;
  }
  
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  