#reset-this-root {
  all: unset;
}

.main-header {
  text-align: center;
  justify-self: center;
}

* {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.box-container {
  background-color: #eeeeee;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.member-container {
  width: 418px;
  height: 239px;
  background-color: #F0F0F0;
  border-radius: 20px;
  padding: 20px;
}

.circle {
  width: 49px;
  height: 49px;
  background-color: #B2B2B2;
  border-radius: 50%;
  margin-right: 15px;
}